{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="login-modal">
        <form action="{{ url_for('login') }}" method="POST" novalidate>
            {{ loginForm.hidden_tag() }}
            <div class="login-modal-title">
                {{ title }}
            </div>
            <div class="form-group">
                {{ loginForm.email.label }}
                {{ loginForm.email(class_='form-control') }}
                {% for error in loginForm.email.errors %}
                    <span style="color: #dc3545;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ loginForm.password.label }}
                {{ loginForm.password(class_='form-control') }}
                {% for error in loginForm.password.errors %}
                    <span style="color: #dc3545;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group custom-control custom-checkbox">
                {{ loginForm.remember(class_='custom-control-input') }}
                {{ loginForm.remember.label(class_='custom-control-label') }}
            </div>
            <div class="form-group">
                {{ loginForm.submit(class_='btn btn-primary login-modal-submit') }}
            </div>
        </form>
    </div>
</div>
{% endblock %}